@font-face {
font-family: LetterGothicStd;
src: url(LetterGothicStd.otf) format("truetype");
}
@font-face {
font-family: LetterGothicStdBold;
src: url(LetterGothicStd-Bold.otf) format("truetype");
}
@font-face {
font-family: LetterGothicStdBoldSlanted;
src: url(LetterGothicStd-BoldSlanted.otf) format("truetype");
}

:root {
	--letra-normal: LetterGothicStd;
	--letra-bold: LetterGothicStdBold;
	--letra-slanted: LetterGothicStdBoldSlanted;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: white;
    background-repeat: no-repeat;
}

.contenedor{
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}

h2{
color: rgb(204, 39, 39);
font-size: 3rem;
margin-bottom: 15px;
font-weight: 300;
}


p{
color: #171717;
font-size: 1.2rem;
}

.clearfix{
    float: none;
    clear: both;
}

a{
    color: crimson;
}
a:hover{
    color: #171717;
    transform: scale(1.2,1.2);
}

/*NAV*/
header{
    background-image: linear-gradient(to bottom, #ff0844 0%, #d64141 100%);    width: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: --letra-normal;
}
.logo{
    width:150px;
    margin-top: 20px;
    margin-left: 20px;
}
.logo img{
    width: 100%;
}
nav{
    margin-top: 70px;
    line-height: 52px;
    margin-right: 50px;
}
nav ul li{
display: inline-block;
margin: 0 10px;
font-size: 1.4rem;
}
nav ul li:last-child{
    margin-right: 5px;
}
nav ul li a{
    display: block;
    color: white;
    transition: all .7s ease;
}

nav ul li a:hover{
    color: #171717;
    transform: scale(1.1,1.1);
}

.tarjetas-promo{
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

.tarjeta-promo .logo{
    background-image: linear-gradient(to bottom, #ff0844 0%, #d64141 100%);    
    width: 70px;
    border-radius: 40px;
}

.tarjeta-promo .titulo-promo{
    margin-left: 20px;
    margin-top: 15px;
}

.tarjeta-promo .tokens{
    text-align: center;
    font-size: 1.8rem;
}


.pg-canjear{
    margin-top: 20px;
    padding-top: 20px;
}

.pg-canjear .cancampa form label{
    font-size: 1.3rem;
    color: #171717;

}

.cancampa{
    margin: 30px 0;
    padding: 20px 0;
}

.cancampa form{
    display: flex;
    flex-flow: column wrap;
}

.cancampa form input{
    margin: 30px 0;
    padding: 8px;
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 7px;
}
.cancampa form input[type="submit"]{
    cursor: pointer;
    color: white;
    background-color: crimson;
    font-size: 1rem;
    font-weight: 300;
    padding: 10px;
    border-radius: 11px;
}

.tarjeta-promo{
    width: 45%;
    border: 1px solid #e3e3e3;
    box-shadow: 1px 1px 7px #ccc;
    margin: 5px auto;
}
.tarjeta-promo .btn-canjear form{
    text-align: center;
}
.tarjeta-promo .btn-canjear form input[type="submit"]{
    width: 40%;
    font-size: 1.4rem;
    color: white;
    background-color: crimson;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*INDEX*/
.principal .anuncio{
    margin: 40px auto;
    width: 90%;
}
.principal .anuncio img{
width: 100%;

}

.personal{
    width: 50%;
}

.personal .nuestro-equipo a{
    display: block;
    text-align: center;
    width: 70%;
    margin: 10px auto;
    background: crimson;
    padding: 10px;
}

.agregar-puntos .form-agpuntos{
    background-color: white;
}
.dashboard{
    display: flex;
    flex-flow: row wrap;
}

.campana{
    width: 50%;
}

.campana .tarjetas-promo{
    display: flex;
    flex-flow: column wrap;
}

.campana .tarjetas-promo .tarjeta-promo{
    width: 100%;
}

.agregar-puntos a{
    display: block;
    text-align: center;
    margin-top: 20px;
    background: crimson;
    padding: 10px;
}
.agregar-puntos{
    width: 50%;
padding-top: 20px;
}

.sucursales{
    width: 50%;
    padding-top: 20px;
}

.sucursales a{
    display: block;
    text-align: center;
    width: 70%;
    margin: 10px auto;
    background: crimson;
    padding: 10px;
}


/*CLIENTE*/

 .nuestro-equipo{
    background-color: #f3f4fa;
    padding: 54px 0 108px;
}

 .nuestro-equipo .equipo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

 .nuestro-equipo .equipo .persona-equipo{
    background-color: white;
    padding: 25px;
    width: 100%;
    max-width: 285px;
    box-shadow: 0px 9px 32px -1px rgba(0,0,0,0.2);
    text-align: center;
    margin: 20px 0;
}

 .nuestro-equipo .equipo .persona-equipo .foto{
width: 100%;
max-width: 230px;
display: inline-block;
margin-bottom: 10px;
}
 .nuestro-equipo .equipo .persona-equipo .foto img{
    width: 100%;
}

 .nuestro-equipo .equipo .persona-equipo .texto h3{
font-size: 1.3rem;
font-weight: 500;
color: crimson;
}

 .nuestro-equipo .equipo .persona-equipo .texto h4{
color: #979797;
font-size: 0.8rem;
font-weight: 400;
margin-bottom: 15px;
}

.botones{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.botones input{
    cursor: pointer;
    color: white;
    background-color: crimson;
    font-size: 1rem;
    font-weight: 300;
    padding: 5px;
    border-radius: 11px;
}

.botones input:hover{
    color: crimson;
    background-color: white;
    transform: scale(1.1,1.1);
}

.rounded-circle {
  width: 100px;
  height: 100px;
  margin-left: 0 auto;
}


/*AGREGAR CLIENTE*/
.form-cajero{
    background-color: #f3f4fa;
    padding: 54px 0 108px;
}

.form-login{
    background-color: #f3f4fa;
    padding: 54px 0 108px;
}

.formulario-cajero form .inpts{
    width: 45%;
    display: flex;
    flex-direction: column;
    float: left;
    margin: 20px 10px;
}

.form-crear-user{
    background-color: #f3f4fa;
    padding: 54px 0 108px;
}

.form-crear-user form{
    display: flex;
    flex-flow: row wrap;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    box-shadow: 1px 1px 10px #ccc;
}
.form-crear-user form .logform{
    display: flex;
    flex-flow: column wrap;
    margin: 15px 0;
    margin-bottom: 20px;
    width: 50%;
}

.form-crear-user form .logform label{
    margin-bottom: 10px;
    font-size: 1.3rem;
    color: #171717;
    font-size: 1.4rem;
}

.form-crear-user form .logform input{
    margin: 5px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60%;
    text-align: center;
}


.form-agpuntos{
    background-color: #f3f4fa;
    padding: 54px 0 108px;
}
.form-agpuntos p{
    margin: 5px 0;
    color: #171717;
}


.formulario-cajero form .inpts label{
    margin-bottom: 10px;
    font-size: 1.3rem;
    color: rgb(160, 156, 156);
}

.formulario-cajero form .inpts input{
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    background-color: rgb(219, 219, 219);
    border: none;
}

.formulario-cajero form input[type="submit"]{
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 10px;
    background-color: crimson;
    color: white;
    margin-left: 10px;
}

.formulario-agregar-puntos{
    text-align: center;
    margin: 0 auto;
}

.inputag{
    display: flex;
    flex-flow: column wrap;
}

.inputag label{
    font-size: 2rem;
    color: #171717;
}

label.requiredField {
	margin-bottom: 10px;
    font-size: 1.3rem;
    color: rgb(160, 156, 156);
}

.inputag input{
    width: 50%;
    text-align: center;
    margin: 30px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario-agregar-puntos form input[type="submit"]{
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 10px;
    background-color: crimson;
    color: white;
    margin-left: 10px;
}

.form-login form input[type="submit"]{
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 10px;
    background-color: crimson;
    color: white;
    width: 40%;
    margin: 10px auto;
}


.form-cajero h2{
margin-bottom: 30px;
}

/*LOGIN*/
.form-login form{
    display: flex;
    flex-flow: column wrap;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    box-shadow: 1px 1px 10px #ccc;
}

.form-login form .logform{
    display: flex;
    flex-flow: column wrap;
    margin: 15px 0;
    margin-bottom: 20px;
}

.form-login form .logform label{
    font-size: 1.4rem;
}

.form-login form .logform input{
    margin: 5px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60%;
    text-align: center;
}

/*DETALLE CAJERO*/

.izquierda{
/*    background-image: url('../images/detalles.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}


 .izquierda .foto{
    padding-top: 30px;
    margin: 0 auto;
    width: 20%;
}
.izquierda .foto img{
    width: 100%;
    border-radius: 175px;
}
 .izquierda .texto{
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
    padding-bottom: 30px;
    color: whitesmoke;
}


.derecha{
    margin: 20px auto;
    width: 90%;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 9px grey;
}


.derecha .text{
    margin:5px auto;
    width: 100%;
    margin-bottom: 40px;

}

.text ul{
    display: flex;
    flex-flow: row wrap;
}

.text ul li{
    font-size: 1.3rem;
    padding: 5px 1px;
    margin: 5px 50px;
}

.acercanosotros{
    padding: 20px;
    margin: 10px auto;
}

.acercanosotros h1{
    font-size: 3rem;
    font-family: sans-serif;
    color: crimson;
    padding: 10px;
    margin: 10px;
}

.acercanosotros .texto p{
    font-size: 1.3rem;
    line-height: 40px;
}

.servicios {
    padding: 20px;
    margin: 10px auto;
}

.servicios .nservicios{
    display: flex;
    flex-flow: row wrap;
}
.servicios .nservicios .servicio{
    background-color: #F6F6F6;
    width: 40%;
    height: 350px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 3px 2px 5px #ccc;
}
.servicios .nservicios .servicio h2{
    padding: 10px;
}

.servicios .nservicios .servicio .texto{
    padding: 15px;
    font-size: 1.2rem;
    line-height: 40px;
    color: #171717;
}


.content {
    margin: 0 auto;
    width: 80%;
}

.ventas{
    margin-top: 30px;
    margin-bottom: 10px;
    width: 1000;
    border: 1px solid #e3e3e3;
    box-shadow: 1px 1px 6px #ccc;
}

.titulo-grafica{
    text-align: center;
}

.plano {
    padding: 10px;
    display: flex;
    justify-content: left;
}

.porcentaje {
    font-size: 30px;
    font-weight: bold;
    width: 70px;
    color: white;
}

.barra {
    margin-left: 20px;
    display: flex;
    width: 17%;
}

.plano:nth-of-type(6n) .barra {
    width: 100%!important;
}

.plano:nth-of-type(5n) .barra {
    width: 70%;
}

.plano:nth-of-type(4n) .barra {
    width: 42%!important;
}

.plano:nth-of-type(3n) .barra {
    width: 25%;
}

.plano:nth-of-type(2n) .barra {
    width: 17%;
}


.plano .barras {
    height: 50px;
    width: 100%;
    background-color: crimson;
}

.plano .triangulo {
    border-left: 50px solid red;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}




/*FOOTER*/
#footer{
    background-image: linear-gradient(to top, #ff0844 0%, #d64141 100%);    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

#footer p{
    margin-left: 10px;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#footer .ingreso{
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}
#footer .ingreso p{
    margin: 0px 5px;
}





/*MEDIA QUERIE*/

@media screen and (max-width:1040px) {
    .nuestro-equipo .titulo-seccion {
        margin-bottom: 60px;
    }
}

@media screen and (max-width:900px) {
    .servicios .nservicios {
        display: flex;
        flex-flow: column wrap;
    }
    .servicios .nservicios .servicio {
        width: 80%;
        height: 300px;
    }
}

@media screen and (max-width:555px) {
    .servicios .nservicios .servicio {
        height: 400px;
    }
}

@media screen and (max-width:555px) {
    .servicios .nservicios .servicio {
        height: 500px;
    }
}

@media screen and (max-width:800px) {
    .tarjetas-promo {
        display: flex;
        flex-flow: column wrap;
    }
    .tarjeta-promo {
        width: 80%;
    }
}

@media screen and (max-width:525px) {
    .porcentaje {
        font-size: 20px;
    }
}

@media screen and (max-width:750px) {
    .form-crear-user form {
        display: flex;
        flex-flow: column wrap;
        margin: 0 auto;
    }
    .form-crear-user form .logform {
        margin: 0 auto;
        text-align: center;
        width: 90%;
    }
}

@media screen and (max-width:630px) {
    .nuestro-equipo .equipo .persona-equipo {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .nuestro-equipo .equipo .persona-equipo .foto {
        width: 100%;
        max-width: 275px;
    }
}

@media(max-width:911px) {
    .text ul {
        display: flex;
        flex-flow: column wrap;
        text-align: center;
    }
    .text ul li {
        margin-top: 20px;
    }
    .text h2 {
        text-align: center;
    }
}

@media screen and (max-width:800px) {
    .dashboard {
        display: flex;
        flex-flow: column wrap;
    }
    .personal {
        width: 100%;
    }
    .campana {
        width: 100%;
    }
    .agregar-puntos {
        width: 100%;
        order: 2;
    }
    .sucursales {
        width: 100%;
    }
}

@media (max-width:770px) {
    nav ul li a {
        font-size: 1.2rem;
    }
    .logo {
        width: 100px;
    }
}

@media (max-width:670px) {
    header {
        flex-flow: column wrap;
    }
    nav {
        margin: 0 auto;
        width: 100%;
    }
    nav ul {
        text-align: center;
    }
    nav ul li a {
        font-size: 1.4rem;
    }
    .logo {
        margin: 10px auto;
        margin-bottom: 25px;
    }
}

@media (max-width:500px) {
    nav ul li a {
        font-size: 1rem;
    }
    .principal .anuncio img {
        display: none;
    }
    .formulario-cajero form .inpts {
        width: 100%;
        margin: 0 auto;
    }
    .form-cajero h2 {
        font-size: 2.8rem;
    }
    .formulario-cajero form input[type="submit"] {
        width: 100%;
        margin: 30px auto;
    }
}

@media(max-width:400px) {
    nav ul li a {
        font-size: 0.8rem;
    }
}

@media(max-width:350px) {
    .servicios .nservicios .servicio .texto {
        font-size: 1rem;
        max-height: 345px;
        overflow: hidden;
    }
}
