<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="images/pasted-svg-442993x420.svg" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Servicios</a></li>
                <li><a href="">Acerca de Nosotros</a></li>
                <li><a href="">Acceder</a></li>
            </ul>
        </nav>
    </header>

    <div class="acercanosotros">
        <h1>Acerca de nosotros</h1>

        <div class="texto">
            <h2>Sobre nosotros</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem repellat quidem earum placeat itaque inventore blanditiis tempore numquam facere praesentium.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum alias exercitationem aliquam quidem eos suscipit iusto dolore sequi beatae consectetur ipsam corporis perspiciatis enim, esse eveniet voluptatem? Quidem, placeat nisi!
            </p>
            <h2>Metas</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque praesentium quaerat velit! Ipsa quod recusandae error quia, ad sed dolor illo, eligendi quasi voluptas rem corporis repellat eius dolore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia illum ducimus numquam, obcaecati animi quia cum reiciendis atque qui impedit..</p>
        </div>

    </div>


        <footer id="footer">
        
        <p><strong>GANBARU</strong> Fidelizamos Tu Marca</p>

        <div class="ingreso">
            <p> <a href="">Iniciar sesion</a> </p>
            <p>|</p>
            <p> <a href="">Registrarse </a> </p>
        </div>
    </footer>
</body>
</html>