<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GANBARU</title>
    <link rel="stylesheet" href="css/estilo.css">

</head>
<body>

    <header>
        <div class="logo">
            <img src="images/pasted-svg-442993x420.svg" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Servicios</a></li>
                <li><a href="">Acerca de Nosotros</a></li>
                <li><a href="">Acceder</a></li>
            </ul>
        </nav>
    </header>


    <section class="form-cajero">
        <div class="contenedor">
    <h2>Agregar Sucursal</h2>


        <div class="formulario-cajero">
        <form action="">
            <div class="inpts">
            <label for="cciudad">Ciudad:</label>
            <input type="text" id="cciudad" name="cciudad">
        </div>
        <div class="inpts">
            <label for="clugar">Lugar:</label>
            <input type="text" name="clugar" id="clugar">
        </div>
        <div class="inpts">
            <label for="cpostal">Codigo postal:</label>
            <input type="number" name="ccodigo" id="ccodigo">
        </div>
        <div class="inpts">
            <label for="ctelefono">Telefono</label>
            <input type="tel" name="ctelefono" id="ctelefono">
        </div>
        <div class="inpts">
            <label for="ccorreo">Correo: </label>
            <input type="email" name="ccorreo" id="ccorreo">
        </div>
        <div class="inpts">
            <label for="cempleado">Cantidad de empleados: </label>
            <input type="number" name="cempleado" id="cempleado">
        </div>
 
            <input type="submit" value="Guardar">
        </form>
        <div class="clearfix"></div>
    </div>
    </div>
</section>


    
</body>
</html>