<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body>
    
    <header>
        <div class="logo">
            <img src="images/pasted-svg-442993x420.svg" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Servicios</a></li>
                <li><a href="">Acerca de Nosotros</a></li>
                <li><a href="">Acceder</a></li>
            </ul>
        </nav>
    </header>

    <div class="contenedor pg-canjear">

        <h2>Canjear Metas</h2>
        <div class="cancampa">
        <form action="">
        <label for="">Ingrese Cedula</label>
        <input type="text" name="cancedula" id="">
        <input type="submit" value="Ingresar Cedula">
        </form>
    </div>

    <div class="tarjetas-promo">
    <div class="tarjeta-promo">
        <div class="logo">
            <img src="images/pasted svg 442993x420_poster_.png" alt="">
        </div>
        <div class="titulo-promo">
            <h2><strong>50%</strong> Los primeros 2 meses</h2>
        </div>
        <div class="tokens">
            <p><strong>30 Tokens</strong></p>
        </div>
        <div class="btn-canjear">
        <form action="">
            <input type="submit" value="Canjear">
        </form>
        </div>
    </div>


    <div class="tarjeta-promo">
        <div class="logo">
            <img src="images/pasted svg 442993x420_poster_.png" alt="">
        </div>
        <div class="titulo-promo">
            <h2><strong>50%</strong> Los primeros 2 meses</h2>
        </div>
        <div class="tokens">
            <p><strong>30 Tokens</strong></p>
        </div>
        <div class="btn-canjear">
        <form action="">
            <input type="submit" value="Canjear">
        </form>
        </div>
    </div>
    <div class="tarjeta-promo">
        <div class="logo">
            <img src="images/pasted svg 442993x420_poster_.png" alt="">
        </div>
        <div class="titulo-promo">
            <h2><strong>50%</strong> Los primeros 2 meses</h2>
        </div>
        <div class="tokens">
            <p><strong>30 Tokens</strong></p>
        </div>
        <div class="btn-canjear">
        <form action="">
            <input type="submit" value="Canjear">
        </form>
        </div>
    </div>
    <div class="tarjeta-promo">
        <div class="logo">
            <img src="images/pasted svg 442993x420_poster_.png" alt="">
        </div>
        <div class="titulo-promo">
            <h2><strong>50%</strong> Los primeros 2 meses</h2>
        </div>
        <div class="tokens">
            <p><strong>30 Tokens</strong></p>
        </div>
        <div class="btn-canjear">
        <form action="">
            <input type="submit" value="Canjear">
        </form>
        </div>
    </div>
    <div class="tarjeta-promo">
        <div class="logo">
            <img src="images/pasted svg 442993x420_poster_.png" alt="">
        </div>
        <div class="titulo-promo">
            <h2><strong>50%</strong> Los primeros 2 meses</h2>
        </div>
        <div class="tokens">
            <p><strong>30 Tokens</strong></p>
        </div>
        <div class="btn-canjear">
        <form action="">
            <input type="submit" value="Canjear">
        </form>
        </div>
    </div>
</div>

    </div>


</body>
</html>