<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body>

    <header>
        <div class="logo">
            <img src="images/pasted-svg-442993x420.svg" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Servicios</a></li>
                <li><a href="">Acerca de Nosotros</a></li>
                <li><a href="">Acceder</a></li>
            </ul>
        </nav>
    </header>

    <div class="dashboard">

    <section class="personal">

        <section class="nuestro-equipo" id="nuestroEquipo">
            <div class="contenedor">
                <div class="titulo-seccion">
                    <h2>Informacion del personal</h2>
                    <p>Detalles de los empleados</p>
                </div>
                <div class="equipo">
                    <div class="persona-equipo">
                        <div class="foto">
                            <!--IMAGEN-->
                            <img src="images/personal3.jpg" alt="">
                        </div>
                        <div class="texto">
                            <h3>Nombre</h3>
                            <h4>Puesto</h4>
                        </div>
                    </div>
                    <div class="persona-equipo">
                        <div class="foto">
                            <!--IMAGEN-->
                            <img src="images/personal3.jpg" alt="">
                        </div>
                        <div class="texto">
                            <h3>Nombre</h3>
                            <h4>Puesto</h4>
                        </div>
                    </div>
                    </div>
                    <a href="">Ver mas</a>
                    </div>
                    </section>

    </section>

    <section class="campana">
        <div class="contenedor pg-canjear">

            <h2>Canjear Campaña</h2>

            <div class="tarjetas-promo">
                <div class="tarjeta-promo">
                    <div class="logo">
                        <img src="images/pasted svg 442993x420_poster_.png" alt="">
                    </div>
                    <div class="titulo-promo">
                        <h2><strong>50%</strong> Los primeros 2 meses</h2>
                    </div>
                    <div class="tokens">
                        <p><strong>30 Tokens</strong></p>
                    </div>
                    <div class="btn-canjear">
                    <form action="">
                        <input type="submit" value="Canjear">
                    </form>
                    </div>
                </div>
                <div class="tarjeta-promo">
                    <div class="logo">
                        <img src="images/pasted svg 442993x420_poster_.png" alt="">
                    </div>
                    <div class="titulo-promo">
                        <h2><strong>50%</strong> Los primeros 2 meses</h2>
                    </div>
                    <div class="tokens">
                        <p><strong>30 Tokens</strong></p>
                    </div>
                    <div class="btn-canjear">
                    <form action="">
                        <input type="submit" value="Canjear">
                    </form>
                    </div>
                </div>
                </div>
                </div>        
    </section>

    <section class="agregar-puntos">
        <section class="form-agpuntos">
            <div class="contenedor">
        <h2>Agregar Puntos</h2>
        <p>Ingrese la cedula y los puntos que quiere dar</p>
        <a href="">Ir a dar Puntos</a>
        </div>
        </section>     
    </section>

    <section class="sucursales">
        <section class="nuestro-equipo" id="nuestroEquipo">
            <div class="contenedor">
                <div class="titulo-seccion">
                    <h2>Informacions de las sucursales</h2>
                </div>
                <div class="equipo">
                    <div class="persona-equipo">
                        <div class="foto">
                            <!--IMAGEN-->
                        </div>
                        <div class="texto">
                            <h3>Ciudad</h3>
                            <h4>Lugar</h4>
                        </div>
                        </div>
                        <div class="persona-equipo">
                            <div class="foto">
                                <!--IMAGEN-->
                            </div>
                            <div class="texto">
                                <h3>Ciudad</h3>
                                <h4>Lugar</h4>
                            </div>
                            </div>
                        </div>
                        <a href="">Ver mas</a>
                        </section>
    </section>
</div>

<footer id="footer">
        
    <p><strong>GANBARU</strong> Fidelizamos Tu Marca</p>

    <div class="ingreso">
        <p> <a href="">Iniciar sesion</a> </p>
        <p>|</p>
        <p> <a href="">Registrarse </a> </p>
    </div>
</footer>
</body>
</html>