<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/estilo.css">
    <title>GANBARU</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="images/pasted-svg-442993x420.svg" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Servicios</a></li>
                <li><a href="">Acerca de Nosotros</a></li>
                <li><a href="">Acceder</a></li>
            </ul>
        </nav>
    </header>

 
            <div class="izquierda">
                <div class="foto">
                    <img src="images/adult-1260380_1280.jpg" alt="">
                </div>
                <div class="texto">
                    <h3>Nombre del empleado</h3>
                    <h4>Rol que desempeña</h4>
                </div>
            </div>


    
    <div class="derecha">
        <div class="text">
            <h2>Informacion de la Campaña</h2>
            <ul>
                <li>Texto Relleno</li>
                <li>Texto Relleno</li>
                <li>Texto Relleno</li>
                <li>Texto Relleno</li>
            </ul>
        </div>

        <div class="text">
            <h2>Adicional</h2>
            <ul>
                <li>Texto Relleno</li>
                <li>Texto Relleno</li>
            </ul>
        </div>

    </div>



    <footer id="footer">
        
        <p><strong>GANBARU</strong> Fidelizamos Tu Marca</p>

        <div class="ingreso">
            <p> <a href="">Iniciar sesion</a> </p>
            <p>|</p>
            <p> <a href="">Registrarse </a> </p>
        </div>
    </footer>
    
</body>
</html>