<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body>

    <header>
        <div class="logo">
            <img src="images/pasted-svg-442993x420.svg" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Servicios</a></li>
                <li><a href="">Acerca de Nosotros</a></li>
                <li><a href="">Acceder</a></li>
            </ul>
        </nav>
    </header>

    <div class="servicios">
        <h1>Nuestros servicios</h1>

        <div class="nservicios">
            <div class="servicio">
                <h2>Servicio 1</h2>
                <div class="texto">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore quos, fugiat similique natus magnam laborum illum quidem mollitia quas ex! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, minus!
                </div>
            </div>

            <div class="servicio">
                <h2>Servicio 2</h2>
                <div class="texto">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore quos, fugiat similique natus magnam laborum illum quidem mollitia quas ex! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, minus!
                </div>
            </div>

            <div class="servicio">
                <h2>Servicio 3</h2>
                <div class="texto">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore quos, fugiat similique natus magnam laborum illum quidem mollitia quas ex! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, minus!
                </div>
            </div>

            <div class="servicio">
                <h2>Servicio 4</h2>
                <div class="texto">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore quos, fugiat similique natus magnam laborum illum quidem mollitia quas ex! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, minus!
                </div>
            </div>

        </div>
    </div>


        <footer id="footer">
        
        <p><strong>GANBARU</strong> Fidelizamos Tu Marca</p>

        <div class="ingreso">
            <p> <a href="">Iniciar sesion</a> </p>
            <p>|</p>
            <p> <a href="">Registrarse </a> </p>
        </div>
    </footer>
</body>
</html>