{% extends 'main/top.html' %}
{% block content %}
<div class="content">
        <div class="ventas">
            <div class="titulo-grafica"><h1>Ventas</h1></div>
            <div class="plano">
                <div class="barra">
                    <div class="barras">                <div class="porcentaje">17%</div></div>
                </div>
            </div>
            <!--plano-->

            <div class="plano">
                <div class="barra">
                    <div class="barras">                <div class="porcentaje">25%</div></div>
                </div>
            </div>
            <!--plano-->

            <div class="plano">
                <div class="barra">
                    <div class="barras">                <div class="porcentaje">42%</div></div>
                </div>
            </div>
            <!--plano-->

            <div class="plano">
                <div class="barra">
                    <div class="barras">                <div class="porcentaje">70%</div></div>
                </div>
            </div>
            <!--plano-->

            <div class="plano">
                <div class="barra">
                    <div class="barras">                <div class="porcentaje">100%</div></div>
                </div>
            </div>
            <!--plano-->
        </div>

        <div class="ventas">
            <div class="titulo-grafica"><h1>Ventas</h1></div>
            <div class="plano">
                <div class="barra">
                    <div class="barras">                <div class="porcentaje">17%</div></div>
                </div>
            </div>
            <!--plano-->

            <div class="plano">
                <div class="barra">
                    <div class="barras">                <div class="porcentaje">25%</div></div>
                </div>
            </div>
            <!--plano-->

            <div class="plano">
                <div class="barra">
                    <div class="barras">                <div class="porcentaje">42%</div></div>
                </div>
            </div>
            <!--plano-->

            <div class="plano">
                <div class="barra">
                    <div class="barras">                <div class="porcentaje">70%</div></div>
                </div>
            </div>
            <!--plano-->

            <div class="plano">
                <div class="barra">
                    <div class="barras">                <div class="porcentaje">100%</div></div>
                </div>
            </div>
            <!--plano-->
        </div>

        <div class="ventas">
            <div class="titulo-grafica"><h1>Ventas</h1></div>
            <div class="plano">
                <div class="barra">
                    <div class="barras">                <div class="porcentaje">17%</div></div>
                </div>
            </div>
            <!--plano-->

            <div class="plano">
                <div class="barra">
                    <div class="barras">                <div class="porcentaje">25%</div></div>
                </div>
            </div>
            <!--plano-->

            <div class="plano">
                <div class="barra">
                    <div class="barras">                <div class="porcentaje">42%</div></div>
                </div>
            </div>
            <!--plano-->

            <div class="plano">
                <div class="barra">
                    <div class="barras">                <div class="porcentaje">70%</div></div>
                </div>
            </div>
            <!--plano-->

            <div class="plano">
                <div class="barra">
                    <div class="barras">                <div class="porcentaje">100%</div></div>
                </div>
            </div>
            <!--plano-->
        </div>
    </div>


{% endblock %}