{% extends 'main/top.html' %}

{% block content %}
<div class="servicios">
        <h1>Nuestros servicios</h1>

        <div class="nservicios">
            <div class="servicio">
                <h2>Servicio 1</h2>
                <div class="texto">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore quos, fugiat similique natus magnam laborum illum quidem mollitia quas ex! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, minus!
                </div>
            </div>

            <div class="servicio">
                <h2>Servicio 2</h2>
                <div class="texto">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore quos, fugiat similique natus magnam laborum illum quidem mollitia quas ex! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, minus!
                </div>
            </div>

            <div class="servicio">
                <h2>Servicio 3</h2>
                <div class="texto">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore quos, fugiat similique natus magnam laborum illum quidem mollitia quas ex! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, minus!
                </div>
            </div>

            <div class="servicio">
                <h2>Servicio 4</h2>
                <div class="texto">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore quos, fugiat similique natus magnam laborum illum quidem mollitia quas ex! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, minus!
                </div>
            </div>

        </div>
    </div>

{% endblock %}